* {
    margin: 0;
    padding: 0;
}

.navbar{
display: flex;
flex: 1;
flex-direction: row;
max-width: 1249;
margin-left: auto;
margin-right: auto;
}

.nav-right{
display: flex;
min-width: 33.33%;
flex-direction: row;
margin-top: 8;
margin-bottom: 6;
}

.nav-left{
min-width: 33.33%;
display: flex;
flex-direction: row;
margin-top: 8;
margin-bottom: 6;
}

.nav-logo{
min-width: 33.33%;
display: flex;
margin-top: 4;
}

.nav-myaccount{
  margin-left: auto;
}


.nav-simplistic{
  margin-right: auto;
}

.logo{
  margin-left: auto;
  margin-right: auto;
}

nav div a {
  color: #666666;
  display: block;
  text-align: right;
  padding:16 ; 
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar div a:hover {
  color: #111;
}

.catagories{
  display: flex;
  flex-direction: row;
  max-width: 1249;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16;
}
